<!-- Views/Home/401.cshtml -->
@{
    ViewData["Title"] = "Unauthorized";
}

<div class="text-center">
    <h1>401 - Unauthorized</h1>
    <p>Vous n'êtes pas autorisé à accéder à cette page.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Retour à l'accueil</a>
</div>