<!-- Views/Home/403.cshtml -->
@{
    ViewData["Title"] = "Forbidden";
}

<div class="text-center">
    <h1>403 - Forbidden</h1>
    <p>Vous n'avez pas la permission d'accéder à cette page.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Retour à l'accueil</a>
</div>
